@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    .btn {
        @apply py-2 px-4 rounded-lg font-medium tracking-tight capitalize inline-flex items-center;
    }

    .btn-primary {
        @apply bg-black text-white;
    }

    .btn-text {
        @apply text-black bg-transparent;
    }

    .logo-ticker {
        @apply h-8 w-auto;
    }

    .mask-image {
        mask-image: linear-gradient(to right, transparent, black, transparent);
    }

    .mask-image-testimonials {
        mask-image: linear-gradient(to bottom, transparent, black, black, transparent);
    }

    .bg-size-200 {
        background-size: 200%
    }

    .text-effect {
        background: linear-gradient(to right, #DD7DDF, #E1CD86, #BBCD92, #71C2FF, #3BFFFF, #DD7DDF, #DD7DDF, #E1CD86, #BBCD92, #71C2FF, #3BFFFF, #DD7DDF)
    }

    .title {
        @apply text-5xl md:text-7xl font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text mt-6 pb-2;
    }

    .feature {
        @apply border-2 border-[#222]/10 py-1 px-3 text-sm lg:text-lg rounded-lg tracking-tight;
    }

    .description {
        @apply text-xl text-[#010D3E] tracking-tight mt-6;
    }

    .card {
        @apply shadow-md w-full max-w-[350px]  lg:max-w-[400px] px-8 py-8 rounded-lg h-full flex flex-col gap-8
    }
}